<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">EcoMeal</a>
        <ul class="navbar-nav ms-auto flex-row">
            <li class="nav-item">
                <NavLink class="nav-link" href="/businesses" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill me-1" aria-hidden="true"></span> Home
                </NavLink>
            </li>
        </ul>
    </div>
</nav>