@namespace EcoMeal.EcoMealBlazor.Components.BusinessCard

<div class="add-card" @onclick="OnAdd">
    <div class="add-card-body">
        <div class="add-icon">+</div>
        <span class="add-text">Add</span>
    </div>
</div>