@page "/businesses"
@rendermode InteractiveServer
@using EcoMeal.EcoMealBlazor.Components.BusinessCard
@using EcoMeal.EcoMealBlazor.Components.BusinessList

<PageTitle>EcoMeal - Businesses</PageTitle>

<div class="businesses-page">
    <div class="businesses-header">
        <h1 class="businesses-title">EcoMeal</h1>
        <p class="businesses-subtitle">"Lettuce help you spend less money :3"</p>
        <hr class="businesses-divider" />
    </div>

    <BusinessList />
</div>