@page "/"
@rendermode InteractiveServer

<PageTitle>EcoMeal</PageTitle>

<div class="home-container">
    <div class="home-content">
        <div class="text-center">
            <a href="/businesses" class="home-logo-link">
                <img src="/EcoMealIcon.png" alt="EcoMeal Logo" class="home-logo" />
            </a>
            <h4 class="fw-bold mt-4 home-tagline">
                "Lettuce help you spend less money :3"
            </h4>
            <p class="home-subtext mt-3">.NET app developed by Raine, while in NetRom Summer{Camp}</p>
            <a href="/businesses" class="btn btn-success rounded-pill px-5 py-2 mt-3 home-btn">
                Get Started
            </a>
        </div>
    </div>
</div>