@page "/landing"

<PageTitle>EcoMeal</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <img src="/EcoMealIcon.png" alt="EcoMeal Logo" style="max-width: 600px;" />
        <h4 class="fw-bold mt-4" style="color: #2d6a4f;">
            "Lettuce help you spend less money :3"
        </h4>
        <p class="text-muted mt-3">.NET app developed by Raine, while in NetRom Summer{Camp}</p>
    </div>
</div>